<div ng-controller="mainController" class="container">
  <div class="row">
    <textarea>{{memberinfo}}</textarea>
    <div class="col-sm-4 col-sm-offset-1 text-center">
        <button type="submit" class="btn btn-success btn-lg" ng-click="destroySession()">Destroy Token</button>
        <button type="submit" class="btn btn-warning btn-lg" ng-click="getInfo()">Get Member Info</button>
    </div>
    <button type="submit" class="btn btn-warning btn-lg" ng-click="logout()">Logout</button>
  <!-- <div ng-controller="mainController" class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-1">
        <table class="table table-striped">
            <tr class="info">
                <td>Name</td>
                <td>Email</td>
                <td>User</td>
            </tr>
            <tr ng-repeat="user in users" ng-click="selectUser(user)">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.user}}</td>
            </tr>
        </table>
      </div>
      <div class="col-sm-4 col-sm-offset-1 text-center">
        <form name="myForm">
          <div class="form-group">
              <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="newUser.name" required>
              <input type="text" class="form-control input-lg text-center" placeholder="Email" ng-model="newUser.email" required>
              <input type="text" class="form-control input-lg text-center" placeholder="User" ng-model="newUser.user" required>
          </div>
          <button type="submit" class="btn btn-success btn-lg" ng-click="registrarUser()" ng-disabled="myForm.$invalid || selected">Registrar</button>
          <button type="submit" class="btn btn-warning btn-lg" ng-click="modificarUser(newUser)" ng-disabled="!selected">Modificar</button>
          <button type="submit" class="btn btn-danger btn-lg" ng-click="borrarUser(newUser)" ng-disabled="!selected">Borrar</button>
        </form>
      </div> -->
    </div>
  </div>
