<div ng-controller="registerController" class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-1 text-center">
      <form name="registerForm">
        <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="user.name" required>
            <input type="text" class="form-control input-lg text-center" placeholder="Email" ng-model="user.email" required>
            <input type="text" class="form-control input-lg text-center" placeholder="Password" ng-model="user.password" required>
        </div>
        <button type="submit" class="btn btn-success btn-lg" ng-click="signup()" ng-disabled="registerForm.$invalid">Register</button>
        <button type="submit" class="btn btn-warning btn-lg" ng-click="back()">Back</button>
      </form>
    </div>
  </div>
</div>
